* {
  font-family: arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.sidebar {
  z-index: 2349087294;
  position: fixed;
  background-color: rgb(230, 230, 230);
  border-top-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-style: solid;
  border-color: rgb(30, 111, 187);
  padding: 1rem 0;
  width: 13em;
  overflow-wrap: break-word;
  transition: 0.5s all ease-in-out;
}

.bartab {
  z-index: 2349087294;
  border-radius: 5px 15px 15px 5px;
  position: fixed;
  background-color: rgb(30, 111, 187);
  overflow-wrap: break-word;
  -webkit-box-shadow: 1px 1px 10px rgb(30, 111, 187);
  width: 2rem;
  height: 2rem;
  border: 2px solid rgb(30, 111, 187);
  outline: none;
  cursor: pointer;
}

.filter {
  width: 80%;
  margin: 0 1rem;
  outline: none;
}

.contents {
  padding: 0 1rem;
}

.horL {
  width: 100%;
  border-bottom: 0.5px solid #c6c4c4;
}
